includes:
    - vendor/contempt/phpstan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 10
    phpVersion:
        min: 80500
        max: 80599
    paths:
        - src
        - tests
        - config
        - public
        - bin
    treatPhpDocTypesAsCertain: false
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
